.pb1 {
	float: right;
}

.pb2 {
	margin-right: 10px;
	float: left;
}

.pb-container {
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}

.pb-container > div {
	margin: 0 10px;
}
